<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% endblock %} - Blog Pro </title>
    {# Favicon #}
    <link rel="icon" type="images/x-icon" href="../assets/favicon.ico" />
    {# Core theme CSS (includes Bootstrap) #}
    {% block stylesheets %} {% endblock %}
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
        crossorigin="anonymous"></script>
</head>

<body>
    {# Main menu #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.php?p=home" title="Blog Pro"><i
                    class="fa-solid fa-paw text-white px-3"></i>Blog Pro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link {{ activeClass('post') }}" aria-current="page"
                            href="index.php?p=post" title="Posts">Posts</a></li>
                    <li class="nav-item"><a class="nav-link {{ activeClass('register') }}" href="index.php?p=register"
                            title="Connexion">Connexion</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#!" title="Déconnexion">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {# title="" #}
    {% block body %}
    {% block content %}
    {% endblock content %}
    {% endblock body %}
    {# footer #}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="nav-item row "><a class="col-4 nav-link {{ activeClass('admin') }} " href="index.php?p=admin"
                    title="Accès administration">Accès administration</a>
            </p>
            <ul class="p-0 text-center">
                <li class="list-inline-item">
                    <a href="https://twitter.com/">
                        {# {{ site.twitter_username }} #}
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x text-white"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse text-black"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/">
                        {# {{ site.linkedin_username }} #}
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x text-white"></i>
                            <i class="fab fa-linkedin fa-stack-1x fa-inverse text-black"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/">
                        {# {{ site.github_username }} #}
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x text-white"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse text-black"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p class="m-0 text-center text-white">Copyright &copy; BlogPro - Beninca Aurélie 2023</p>
        </div>
    </footer>

    {# Bootstrap core JS#}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {# Core theme JS#}
    <script src="js/scripts.js"></script>

    {% block javascripts %}
    {# Inclusion JS si besoin #}
    {% endblock %}

</body>

</html>