<section class="py-5">
    <div class="container p-0 mt-5 mb-3">
        <div class="row d-flex justify-content-between m-0 p-0">
            {# creat post form #}
            <div class="col-lg-7 rounded-3 shadow-lg mt-5 mb-3 me-1 p-3">
                <div class="text-center my-5">
                    <h2>Ecrire un article</h2>
                </div>
                <form method="POST" action="post/createPost" name="CreatePost" id="CreatPostForm" novalidate>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="title" placeholder="title" required
                            data-validation-required-message="Entrer un titre" title="Entrer un titre">
                        <p class="help-block text-danger"></p>
                        <label for="floatingInput">Titre de l'article</label>
                    </div>

                    <div class="form-floating mb-3 controls">
                        <input type="text" class="form-control" id="floatingInput" name="lead" placeholder="chapô" required
                            data-validation-required-message="Ecriver un chapô" title="Ecriver un chapô">
                        <label for="floatingInput">Chapô</label>
                    </div>
                    <div class="form-group mb-3 controls">
                        <textarea rows="7" class="form-control" name="content" placeholder="Ecriver votre article"
                            id="floatingTextarea2" required data-validation-required-message="Ecriver votre article"
                            title="Ecriver votre articl"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>

                    <br>

                    <div id="success"></div>
                    <div class="form-group text-center d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-secondary" id="sendMessageButton"
                            title="Envoyer">Envoyer</button>
                        <button type="reset" class="btn btn-outline-secondary" id="resetMessageButton"
                            title="Réinitialiser">Réinitialiser</button>
                    </div>

                </form>

            </div>
            {# aside - 3 last posts #}
            <aside class=" col-lg-4 rounded-3 shadow-lg mt-5 mb-3 ms-1 p-0">
                <ul class="row p-0">
                    <h3 class="ps-2 text-center my-3">Derniers articles</h3>
                    {% for post in posts %}
                    <!--todo : truncate +lien vers le commentaire + condition si validé ou non (color)-->
                    <img src="{{ ROOT }}/images/deco/bookline.jpg" class="separation logo ms-3 p-0" alt="separation "
                        alt="">
                    <li class=" list-inline-item px-4">
                        <a href="index.php?p=post/retailPost/{{post.id}}" id="title-link" class="text-decoration-none lead ms-3 p-0">{{ post.title }}</a>
                        <p class="mt-3 mb-0">{{ post.lead }}</p>
                        <p class="m-0  blockquote-footer text-end ">le {{ post.update_date }} </p>
                    </li>
                    {% endfor %}

                </ul>
            </aside>
        </div>
    </div>
</section>