{% extends "base.twig" %}

{% block title %} Accueil {% endblock %}
{# todo modifier apparence comme userPage #}
{% block content %}
{# article #}
<section class="py-5">
    <div class="container mt-5 mb-1">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center text-capitalize pb-5 mb-5">{{ post.title }}</h2>
                <p class="lead my-5">{{ post.lead }}</p>
                <p>{{ post.content }}</p>
                <p class="blockquote-footer d-flex justify-content-end pt-5">Mise à jour le {{ post.update_date |
                    date("d/m/Y",
                    "Europe/Paris") }}</p>
                {# btn de modération - todo ajouter un hover#}
                {% if session.logUser is same as 'admin' %}
                <div class="d-flex justify-content-end me-2">
                    <div class="p-1 ">
                        <a class=" btn btn-darkblue " href="{{ ROOT }}index.php?p=post/editPostPage/{{post.id}}" title="Modifier l'article"><i class="fas fa-edit"></i></a>
                    </div>
                    <div class="p-1 ">
                        <form method="POST" action="post/deletePost">
                            <input name="postId" type="hidden" value={{ post.id }}>
                            <button type="submit" class="btn" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article, ainsi que ses commentaires ?')" title="Supprimer l'article">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


</section>

{# comments list #}
<section class="py-5">
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <div>
                        <img src="{{ ROOT }}/images/logo/origami.png" class="separation2 logo" alt="separation small">
                        <img src="{{ ROOT }}/images/logo/origami.png" class="separation logo" alt="separation">
                        <img src="{{ ROOT }}/images/logo/origami.png" class="separation2 logo" alt="separation small">
                    </div>
                    <h2 class="fs-3 mt-1">Commentaires</h2>
                </div>
                {# block commentaire (boucle) #}
                {% for comment in comments %}
                <div class="pt-5 px-5 justify-content-around shadow">
                    <div class="d-flex justify-content-between">
                        <div class="pe-3">
                        {% for user in users %}
                            {% if comment.id_user is same as user.id %}
                            <img class="img-fluid rounded-circle mb-4 avatar"
                            {% if user.avatar is not null %}
                                src="{{ ROOT }}images/avatar_upload/{{ user.avatar }}"
                            {% else %}
                                src="{{ ROOT }}images/avatar/default-avatar.png"
                            {% endif %}
                            alt="..." />
                            <p class="fs-5 text-center">{{ user.pseudonym }}</p>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="ps-3 pt-5">
                            <p class="small text-center ">{{ comment.content }}</p>
                            <p class="blockquote-footer d-flex justify-content-end mt-2">Le {{ comment.update_date | date("d/m/Y",
                                "Europe/Paris") }}</p>
                        </div>
                    </div>
                    {# btn de modération #}
                    <div class="d-flex justify-content-end me-2">
                        {% if session.logUser is same as 'admin' %}
                        <div class="p-2 ">
                            {% if comment.is_enabled is same as '1' %}
                            <form method="POST" action="comment/disableComment">
                                <input name="commentId" type="hidden" value={{ comment.id }}>
                                <input name="is_enabled" type="hidden" value="0">
                                <input name="postId" type="hidden" value={{ comment.id_post }}>
                                <button type="submit" class="btn" title="Valider le commentaire">
                                    <i class="fas fa-regular fa-square-check alert-success"></i>
                                </button>
                            </form>
                            {# <a class=" btn btn-darkblue " href="#!" title="Désactiver le compte utlisateur"><i class="fas fa-regular fa-square-check alert-danger"></i></a> #}
                            {% else %}
                            <form method="POST" action="comment/disableComment">
                                <input name="commentId" type="hidden" value={{ comment.id }}>
                                <input name="is_enabled" type="hidden" value="1">
                                <input name="postId" type="hidden" value={{ comment.id_post }}>
                                <button type="submit" class="btn" title="Désactiver le commentaire">
                                    <i class="fas fa-regular fa-square-check alert-danger"></i>
                                </button>
                            </form>
                            {# <a class=" btn btn-darkblue " href="#!" title="Activer le compte utlisateur"><i class="fas fa-regular fa-square-check alert-info"></i></a> #}
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if (session.logUser is same as 'admin') or (session.id is same as comment.id_user) %}
                        <div class="p-2 ">
                            <form method="POST" action="comment/deleteComment">
                                <input name="commentId" type="hidden" value={{ comment.id }}>
                                <input name="postId" type="hidden" value={{ comment.id_post }}>
                                <button type="submit" class="btn" title="Supprimer le commentaire" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire?')">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{# comments form #}
{% if session.logVisitor is same as false %}
<section class="py-5">
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="fs-3 mb-4" title="Donner votre avis">Donner votre avis
                </h2>

                <form method="POST" action="comment/addComment" name="addComment" id="CommentForm" novalidate>
                    <input name="userId" type="hidden" value={{ session.id }}>
                    <input name="postId" type="hidden" value={{ post.id }}>
                    {#INVALID INPUT
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control is-invalid" id="floatingInputInvalid"
                            placeholder="name@example.com" value="test@example.com">
                        <label for="floatingInputInvalid">Invalid input</label>
                    </div> #}
                    <div class="form-group mb-3 controls">
                        <textarea rows="7" class="form-control" id="content" name="content" placeholder="Laisser votre commentaire"
                            id="floatingTextarea2" required
                            data-validation-required-message="Please enter ypur comment."
                            title="Laisser votre commentaire"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div id="success"></div>
                    <div class="form-group text-center d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-secondary" id="sendMessageButton"
                            title="Envoyer">Envoyer</button>
                        <button type="reset" class="btn btn-outline-secondary" id="resetMessageButton"
                            title="Réinitialiser">Réinitialiser</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}