{% extends "base.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}
<header class="py-5 bg-image-full" style="background-image: url('{{ ROOT }}images/background/blackwaves.jpg')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4 separation " src="{{ ROOT }}images/deco/lineface.png" alt="..." />
        <h1 class="text-white  fw-bolder">Mon compte</h1>
    </div>
</header>

{% block content %}

{% include 'admin/partial/userPage.twig' %}

{# <section class="py-5">
    <div class="container p-0 mt-5 mb-3">
        <div class="row d-flex justify-content-between m-0 p-0">
            <div class=" col-lg-7 rounded-3 shadow-lg mt-5 mb-3 me-1 p-0 ">
                <div class="row">
                    <h3 class="ps-2 my-5 text-center">Edition de l'avatar</h3>
                    <div class="d-flex justify-content-between">
                        <img src="{{ ROOT }}images/deco/compasreverse.jpg" class="separation logo " alt="separation " alt="">
                        <img src="{{ ROOT }}images/deco/compas.jpg" class="separation logo " alt="separation " alt="">
                    </div>
                    <div class="row p-3">
                        <img class="col-lg-5 img-fluid rounded-circle ms-3 mb-4"
                            src="{{ ROOT }}images/avatar/137904_eAgdYyqn.png" alt="..." />
                        <form class="col-lg-6 mt-5" action="">
                            <div class="form-control controls mt-5">
                                <label class="mb-2" for="avatar">Vous pouvez télécharger un
                                    avatar</label>
                                <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
                                <input type="file" class="form-control mb-2" id="avatar" placeholder="avatar" required
                                    data-validation-required-message="Vous pouvez modifier votre avatar"
                                    accept="image/png, image/jpeg" title="Vous pouvez télécharger un avatar">
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <h3 class="ps-2 mt-5 mb-3 text-center">Informations du compte</h3>
                    <div class="d-flex justify-content-between">
                        <img src="{{ ROOT }}images/deco/compasreverse.jpg" class="separation logo " alt="separation " alt="">
                        <img src="{{ ROOT }}images/deco/compas.jpg" class="separation logo " alt="separation " alt="">
                    </div>
                    <form  method="POST" action="user/editDatasUser" name="editDatasUser" id="editDatasUserForm" classe="p-3" novalidate>
                        <div class="form-floating controls mb-3 col-lg-10 mx-auto ">
                            <input type="text" class="form-control " id="floatingInput" placeholder="name" required
                                data-validation-required-message="Merci d'entrer votre nom."
                                title="Veuillez renseigner votre nom">
                            <p class="help-block text-danger"></p>
                            <label for="floatingInput">{{ user.lastname }}</label>
                        </div>

                        <div class="form-floating mb-3 controls col-lg-10 mx-auto">
                            <input type="text" class="form-control" id="floatingInput" placeholder="firstname" required
                                data-validation-required-message="Please enter your name."
                                title="Veuillez renseigner votre prénom">
                            <label for="floatingInput">{{ user.firstname }}</label>
                        </div>
                        <div class="form-floating mb-3 controls col-lg-10 mx-auto">
                            <input type="text" class="form-control" id="floatingInput" placeholder="nickname" required
                                data-validation-required-message="Please enter your nickname."
                                title="Veuillez renseigner votre surnom">
                            <label for="floatingInput">{{ user.pseudonym }}</label>
                        </div>
                        <div class="form-floating mb-3 col-lg-10 mx-auto">
                            <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com"
                                title="Veuillez renseigner votre email">
                            <label for="floatingInput">{{ user.email }}</label>
                        </div>
                        <div class="form-group text-center my-3">
                            <button type="submit" class="btn btn-outline-secondary my-5" id="sendMessageButton"
                                title="Envoyer">Sauvegarder</button>
                        </div>
                    </form>
                </div>
                <div>

                    <h3 class="ps-2 mt-5 mb-3 text-center">Modification du mot de passe</h3>
                    <div class="d-flex justify-content-between">
                        <img src="{{ ROOT }}images/deco/compasreverse.jpg" class="separation logo " alt="separation " alt="">
                        <img src="{{ ROOT }}images/deco/compas.jpg" class="separation logo " alt="separation " alt="">
                    </div>
                    <form action="">
                        <div class="form-floating mb-3 controls col-lg-10 mx-auto">
                            <input type="text" class="form-control" id="floatingInput" placeholder="password" required
                                data-validation-required-message="Please enter your password."
                                title="Veuillez renseigner un mot de passe">
                            <label for="floatingInput">Mot de passe</label>
                        </div>
                        <div class="form-floating mb-3 controls col-lg-10 mx-auto">
                            <input type="text" class="form-control" id="floatingInput" placeholder="ConfirmedPassword"
                                required data-validation-required-message="Please confirm your password."
                                title="Veuillez confirmer votre mot de passe">
                            <label for="floatingInput">Confirmation du mot de passe</label>
                        </div>
                    </form>
                </div>
                <div id="success"></div>
                <div class="form-group text-center my-3">
                    <button type="submit" class="btn btn-outline-secondary my-5" id="sendMessageButton"
                        title="Envoyer">Sauvegarder</button>
                </div>
            </div>

            {# aside - personal comments #}
            {# <aside class=" col-lg-4 rounded-3 shadow-lg mt-5 mb-3 ms-1 p-0">
                <ul class="p-0">
                    <h3 class="ps-2 text-center my-3">Mes commentaires</h3> #}
                    {# todo : truncate +lien vers le commentaire + condition si validé ou non (color) #}
                    {# <img src="{{ ROOT }}images/deco/bookline.jpg" class="separation logo" alt="separation " alt="">
                    <li class=" list-inline-item px-4">
                        <a href="" id="title-link" class="text-decoration-none lead p-0">Titre de
                            l'article</a>
                        <p class="mt-3 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ab officia
                            dolorem,
                            sit
                            minima praesentium vitae. Dignissimos libero reprehenderit maxime eaque
                            ad alias
                            dicta, sunt quisquam animi rem nam incidunt nostrum.</p>
                        <p class="m-0  blockquote-footer text-end ">le xx/xx/xxxx </p>
                    </li>

                    <img src="{{ ROOT }}images/deco/bookline.jpg" class="col-12 separation logo" alt="separation " alt="">
                    <li class="list-inline-item my-3 px-4">
                        <p>Numquam neque aut obcaecati voluptate exercitationem, dolores nemo
                            molestiae
                            rerum
                            saepe porro? Dolorum incidunt odit deserunt labore vero sapiente quae,
                            iusto
                            nam?
                            Dicta assumenda officiis id beatae asperiores, cum fugiat?</p>
                    </li>

                    <img src="{{ ROOT }}images/deco/bookline.jpg" class="separation logo" alt="separation " alt="">
                    <li class="list-inline-item px-4">
                        <p>Aliquid, non placeat reprehenderit voluptate magni doloribus nam harum.
                            Voluptatibus
                            nemo reiciendis doloribus reprehenderit optio! Eos, culpa. Similique
                            soluta
                            veniam
                            voluptates, veritatis voluptatibus deleniti aliquam sunt maiores tenetur
                            magnam
                            a.
                        </p>
                    </li>

                    <img src="{{ ROOT }}images/deco/bookline.jpg" class="separation logo" alt="separation " alt="">
                    <li class="list-inline-item px-4">
                        <p>Blanditiis hic fugit sit modi maxime repudiandae veniam labore at dolore
                            nostrum
                            impedit cum, atque cupiditate nihil sed, minima delectus? Exercitationem
                            voluptas
                            quidem aspernatur minima nulla quo! Recusandae, quod mollitia.</p>
                    </li>

                    <img src="{{ ROOT }}images/deco/bookline.jpg" class="separation logo" alt="separation " alt="">
                    <li class="list-inline-item px-4">
                        <p>Asperiores amet rerum nihil odio quam. Molestiae consectetur dignissimos
                            dolores
                            dolorem totam vitae sapiente, neque similique voluptatum exercitationem
                            tempora
                            reiciendis minima debitis pariatur ad cupiditate blanditiis ab illum
                            esse
                            provident?
                        </p>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section> #}
{% endblock content %}

{% endblock body %}